<div fxLayout="column" fxLayoutAlign="space-between center">
    <mat-card>
    <mat-card-title>
        <span>User List</span>
    </mat-card-title>
    <mat-card-subtitle>
        <span>Users list from the system</span>
    </mat-card-subtitle>
    <mat-card-content>
        <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 min-width max-height">
            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
                <mat-cell *matCellDef="let user">{{user.id}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="firstName">
                <mat-header-cell *matHeaderCellDef mat-sort-header>First Name</mat-header-cell>
                <mat-cell *matCellDef="let user">{{user.firstName}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="lastName">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</mat-header-cell>
                <mat-cell *matCellDef="let user">{{user.lastName}}</mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
    </mat-card-content>
</mat-card>
</div>
