<app-alert [displayMessage]="message"></app-alert>
<div fxLayout="column" fxLayoutAlign="space-between center">
    <mat-card>
    <mat-card-title>
        <span>User Form</span>
    </mat-card-title>
    <mat-card-subtitle><span>Add new user to the system</span></mat-card-subtitle>
    <mat-card-content>
        <form action="" [formGroup]="userForm" class="min-width">
            <mat-form-field class="full-width">
                <input type="text" matInput placeholder="First Name" formControlName="firstName">
                <!-- <mat-hint>* mandatory accepts only character.</mat-hint> -->
                <mat-error *ngIf="userForm.controls['firstName'].hasError('required') || userForm.controls['firstName'].hasError('pattern')">
                    Please enter a valid first name
                </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width">
                <input type="text" matInput placeholder="Last Name" formControlName="lastName">
                <!-- <mat-hint>* mandatory accepts only character.</mat-hint> -->
                <mat-error *ngIf="userForm.controls['lastName'].hasError('required') || userForm.controls['lastName'].hasError('pattern')">
                        Please enter a valid last name
                    </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width">
                <input type="text" matInput placeholder="Id" formControlName="id">
                <!-- <mat-hint>* mandatory accepts only number.</mat-hint> -->
                <mat-error *ngIf="userForm.controls['id'].hasError('required') || userForm.controls['id'].hasError('pattern')">
                        Please enter a valid Id
                    </mat-error>
            </mat-form-field>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" [disabled]="!userForm.valid" (click)="addUser()" *ngIf="!isUserAdded else load">Add</button>
        <ng-template #load>
            <button mat-raised-button color="primary" class="btn-spinner" disabled> 
                    <mat-icon>
                        <mat-spinner color="accent" diameter="20"></mat-spinner>
                    </mat-icon>Adding User...
            </button>
        </ng-template>
        <button mat-raised-button color="secondary" (click)="resetUserForm()" [disabled]="isUserAdded">Reset</button>
    </mat-card-actions>
</mat-card>
</div>
